body{
    font-family: 'Neucha', cursive;
    font-size: 16px;
}    
    
  @media screen and ( max-width: 768px){
        .col{
            width: 400px;
            height: 50%;
            overflow: hidden;
            padding: 10px 150px;
            display: block;
            margin: auto;

        }

        h1{
            font-size: 1,5rem;
            text-align: center;

        }

        p{
            text-align: center;
        }
          
        .prueba{
        background-color: rgb(135,135,215);
        }
    
        .prueba2{
        color: rgb(18, 18, 109);
        

        }

        .td{
        color: rgb(20, 20, 63);
        }
   
        


    }

    .color{
        background-color: #cfe2ff;
    }
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background-color: #cfe2ff;
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-color: #cfe2ff;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            filter: invert(108%);
        }
        
        .carrusel {
            width: 80%;
            margin: auto;        
        }   

        .footerPedido{
            background-color: #cfe2ff;
        }
    
